{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <style>
    button {
      background-color: #417690; /* Green */
      border: none;
      color: white;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 4px
    }
    </style>

    <div>
        <form action="{% url 'admin:addUserProfile' %}" method="POST">
            {% csrf_token %}
                <button type="submit">Add User Profile From Csv</button>
        </form>
    </div>
    <br />
    {{ block.super }}
{% endblock %}