{% extends "admin/base_site.html" %}
{% block content %}
    {% load static %}
    {% block static %}
        <style>
            label {
                align-self: center;
                margin: 5px;
            }

            form{
                margin-bottom: 10px;
            }
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <link rel="stylesheet" href={% static "css/virtual-select.min.css" %}>
    {% endblock %}

    <form action="" method="post">
        {% csrf_token %}
        <div class="grid-container form-group" style="display: flex;flex-wrap: wrap;width: 100%; text-align: center">
            <div class="grid-item" style="display: flex;flex-wrap: wrap;width: 50%; text-align: center">
                <label for="select-dealership">Select Dealership</label>
                <hr>
                <select size="1" id="select-dealership" multiple name="dealerships" placeholder="Select Dealership"
                        data-search="true"
                        data-silent-initial-value-set="true">
                    <script>
                        var dealershipDict =
                        {{ dealership_dict|safe }}

                        var multiSelectList = document.getElementById("select-dealership")
                        var myHTML = ""
                        for (const [dealershipGroup, dealerships] of Object.entries(dealershipDict)) {
                            myHTML += "<optgroup label='" + dealershipGroup + "'>"
                            for (var j = 0; j < dealerships.length; j++) {
                                myHTML += '<option value=' + dealerships[j] + '>' + dealerships[j] + '</option>'
                            }
                            myHTML += '</optgroup>'
                        }
                        multiSelectList.innerHTML = myHTML
                    </script>
                </select>
            </div>


            <div class="grid-item" style="display: flex;flex-wrap: wrap;width: 50%; text-align: center">
                <label for="select-field">Select Field</label>
                <hr>
                <select id="select-field" multiple name="fields" placeholder="Select Field"
                        data-search="true"
                        data-silent-initial-value-set="true">
                    <script>
                        var fieldDict =
                        {{ field_dict|safe }}

                        var multiSelectList = document.getElementById("select-field")
                        var myHTML = ""
                        for (const [fieldName, fieldVerboseName] of Object.entries(fieldDict)) {
                            myHTML += '<option value=' + fieldName + '>' + fieldVerboseName + '</option>'
                        }

                        multiSelectList.innerHTML = myHTML
                    </script>
                </select>
            </div>
        </div>
        <hr>
        <!-- BUTTONS DIV-->
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" name="getFieldsButton" value="getFields">
                Get Fields
            </button>
        </div>

    </form>

    {% if fields_taken %}
    <form action="updateDealerships/" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <hr>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" name="updateButton" value="update"
                    {% if is_valid %} {% else %} disabled {% endif %}>
                Save Edited Fields
            </button>
        </div>
    </form>
    {% else %} {% endif %}


    <script type="text/javascript" src={% static "js/virtual-select.min.js" %}></script>
    <script type="text/javascript">
        VirtualSelect.init({
            ele: '#select-dealership'
        });
        VirtualSelect.init({
            ele: '#select-field'
        });

        window.onload = function () {

            /*var $select = $('#mySelect');
            $.each(opt, function(key, value){
                var group = $('<optgroup label="' + key + '" />');
                $.each(value, function(){
                    $('<option />').html(this.name).appendTo(group);
                });
                group.appendTo($select);
            });*/

        }
    </script>


{% endblock %}