{% extends "admin/base_site.html" %}
{% block content %}
    {% load static %}
    {% block static %}
        <style>
            label {
                align-self: center;
                margin: 5px;
            }

            form {
                margin-bottom: 10px;
            }
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <link rel="stylesheet" href={% static "css/virtual-select.min.css" %}>
<!--
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
-->
    {% endblock %}

    <form action="" method="post">
        {% csrf_token %}
        <div class="grid-container form-group" style="display: flex;flex-wrap: wrap;width: 100%; text-align: center">
            <div class="grid-item" style="display: flex;flex-wrap: wrap;width: 50%; text-align: center">
                <label for="select-dealership">Select Dealership</label>
                <div id="select-dealership"></div>
            </div>

            <div class="grid-item" style="display: flex;flex-wrap: wrap;width: 50%; text-align: center">
                <label for="select-field">Select Field</label>
                <div id="select-field"></div>
            </div>
        </div>
        <hr>
        <!-- BUTTONS DIV-->
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" name="get-fields-button" value="get-fields">
                Get Fields
            </button>
        </div>

<!--
        <div>
            <select class="js-example-basic-single" name="state">
              <option value="AL">Alabama</option>
              <option value="WY">Wyoming</option>
            </select>
        </div>
-->
        <!-- Update DIV-->
        {% if fields_taken %}
            <div>
                {% csrf_token %}
                {{ form.as_p }}

                <hr>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" name="update-button" value="update"
                            {% if is_valid %} {% else %}  {% endif %}>
                        Update Edited Fields
                    </button>
                </div>
            </div>
        {% endif %}

    </form>

    <script type="text/javascript" src={% static "js/virtual-select.min.js" %}></script>
    <script type="text/javascript">
        VirtualSelect.init({
            ele: '#select-dealership',
            name: "dealerships",
            multiple: true,
            search: true,
            placeholder: "Select Dealership",
            showSelectedOptionsFirst: true,
            required: true,
            options: {{dealership_opts | safe}},
            selectedValue: {{selected_dealerships | safe}}
        });
        VirtualSelect.init({
            ele: '#select-field',
            name: "fields",
            multiple: true,
            search: true,
            placeholder: "Select Field",
            showSelectedOptionsFirst: true,
            required: true,
            options: {{field_opts | safe}},
            selectedValue: {{selected_fields | safe}}
        });

        /*$(document).ready(function() {
            $('.js-example-basic-single').select2();
        });*/

    </script>



{% endblock %}